<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <%= image_tag @user.avatar.thumb(@user.avatar_cropping).thumb("#{User::THUMB_W}x#{User::THUMB_H}").url, :alt => 'small_avatar' %> <br />
  <%= image_tag @user.avatar.thumb('400x').url, :alt => 'crop_image' %> 
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>